extends layout.pug

block scripts
  link(rel="stylesheet", href="../css/author.css")
  link(rel="stylesheet", href="../css/lightbox.css")

block content
  .container
    h1.txt-lg= authorInfo.name
    h2.txt-md #{authorInfo.birth_date} - #{authorInfo.death_date}
    .leftSection

    .rightSection
      a(href="#" id="lightbox-target")
        img(src="http://covers.openlibrary.org/b/id/" + authorInfo.photos[0] + "-" + "M" + ".jpg" loading="lazy" id="bookCover")
      #lightbox.animated
        img#lightbox-image(src="http://covers.openlibrary.org/b/id/" + authorInfo.photos[0] + "-" + "L" + ".jpg")
        a(href="#" id="close-lightbox") X
      .alternativeNames
        h2.txt-md Alternate names
        ul  
          each name in authorInfo.alternate_names
            li= name
  script(src="../js/lightbox.js")