extends layout.pug

block scripts
  link(rel="stylesheet", href="../css/book.css")

block content
  .container
    .coverSection
      img(src="http://covers.openlibrary.org/b/id/" + pageInfo.workInfo.covers[0] + "-" + "M" + ".jpg" loading="lazy" id="bookCover")
    .infoSection
      h1.txt-lg= pageInfo.workInfo.title
      if pageInfo.bookInfo.subtitle
        h2.txt-md= pageInfo.bookInfo.subtitle
      p by #{pageInfo.author_name}