extends layout.pug

block scripts
  link(rel="stylesheet", href="./css/glide.core.min.css")
  link(rel="stylesheet", href="./css/glide.theme.min.css")
  link(rel="stylesheet", href="./css/fontawesome.min.css")
  link(rel="stylesheet", href="./css/index.css")

block content
  .container
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide 
            a(href="#") Art
              i(class="fas fa-brush")
          li.glide__slide Science Fiction
          li.glide__slide Fantasy
          li.glide__slide Biographies
          li.glide__slide Recipes
          li.glide__slide Romance
          li.glide__slide Textbooks
          li.glide__slide Children
          li.glide__slide History
          li.glide__slide Medicine
          li.glide__slide Religion
          li.glide__slide Mystery Stories
          li.glide__slide Plays
          li.glide__slide Music
          li.glide__slide Science
      .glide__arrows(data-glide-el="controls")
        button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
  
  script(src="./dist/slider.js" defer)