extends layout.pug

block scripts
  link(rel="stylesheet", href="../css/glide.core.min.css")
  link(rel="stylesheet", href="../css/glide.theme.min.css")
  link(rel="stylesheet", href="../css/all.min.css")
  link(rel="stylesheet", href="../css/regular.min.css")
  link(rel="stylesheet", href="../css/fontawesome.min.css")
  link(rel="stylesheet", href="../css/index.css")

block content
  .container
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          each val, key in slides
            li.glide__slide
              a(href="/subjects/" + key )=key
                i(class=val)
      .glide__arrows(data-glide-el="controls")
        button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
  
  script(src="./dist/slider.js" defer)