extends layout.pug

block scripts
  link(rel="stylesheet", href="./css/glide.core.min.css")
  link(rel="stylesheet", href="./css/glide.theme.min.css")
  link(rel="stylesheet", href="./css/all.min.css")
  link(rel="stylesheet", href="./css/regular.min.css")
  link(rel="stylesheet", href="./css/fontawesome.min.css")
  link(rel="stylesheet", href="./css/index.css")

block content
  .container
    .glide
      .glide__track(data-glide-el="track")
        ul.glide__slides
          li.glide__slide 
            a(href="#") Art
              i(class="fas fa-brush")
          li.glide__slide 
            a(href="#") Science Fiction
              i(class="fas fa-user-astronaut")
          li.glide__slide 
            a(href="#") Fantasy
              i(class="fas fa-dragon")
          li.glide__slide 
            a(href="#") Biographies
              i(class="fas fa-atlas")
          li.glide__slide 
            a(href="#") Recipes
              i.fas.fa-utensils
          li.glide__slide 
            a(href="#") Romance
              i.fas.fa-heart
          li.glide__slide
            a(href="#") Textbooks
              i.fas.fa-book-open
          li.glide__slide
            a(href="#") Children
              i.fas.fa-child
          li.glide__slide
            a(href="#") History
              i.fas.fa-book
          li.glide__slide
            a(href="#") Medicine
              i.fas.fa-clinic-medical
          li.glide__slide
            a(href="#") Religion
              i.fas.fa-pray
          li.glide__slide
            a(href="#") Mystery Stories
              i.fas.fa-book-dead
          li.glide__slide
            a(href="#") Plays
              i.fas.fa-theater-masks
          li.glide__slide
            a(href="#") Music
              i.fas.fa-music
          li.glide__slide
            a(href="#") Science
              i.fas.fa-atom
      .glide__arrows(data-glide-el="controls")
        button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
        button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
  
  script(src="./dist/slider.js" defer)