extends layout.pug

block content
  div.container
    h3 Browse by subject
    hr
    .slider
      p Art
      p Science Fiction
      p Fantasy
      p Biographies
      p Recipes
      p Romance
      p Textbooks
      p Children
