extends layout.pug

block scripts
  link(rel="stylesheet", href="../node_modules/@glidejs/glide/dist/css/glide.core.min.css")
  link(rel="stylesheet", href="../node_modules/@glidejs/glide/dist/css/glide.theme.min.css")
  link(rel="stylesheet", href="./css/index.css")

block content
  .glide
    .glide__track(data-glide-el="track")
      ul.glide__slides
        li.glide__slide 0
        li.glide__slide 1
        li.glide__slide 2
