doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet" href="../css/styles.css")
    block scripts

    title OL Directory
  body
    div(class="donate")
      p.txt-sm INTERNET ARCHIVE
      a(href="https://archive.org/donate/?platform=ol" target="_blank").buttonInfo Donate
        span &hearts;
    
    header(class="")
      div()
        h1(class="txt-xlg") 
          a(href="/") Open Library [Directory]
          //- change h1 to svg?
      ul(class="navbar")
        li
          a(href="/about")
            button About
        li
          a(href="#")
            button Subjects
        li
          a(href="#") 
            button Random Book
      form(class="searchBar")
         div.select
           select(name="searchType" id="searchType")
             option(value="all") All
             option(value="title") Title
             option(value="author") Author
             option(value="text") Text
             option(value="subject") Subject
             option(value="lists") Lists
             option(value="advanced") Advanced
           span.focus
         input(type="text" name="searchTerm" id="searchBarInput" placeholder="Search...")
         button(type="submit" id="searchBarSubmit") Search
    block content
