doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/normalize.css")
    link(rel="stylesheet" href="../css/styles.css")
    block scripts

    title OL Directory
  body
    div(class="donate")
      p.txt-sm Internet Archive
      a(href="#").buttonInfo Donate
        span &hearts;
    
    header(class="")
      div()
        a(href="/") 
          //- change h1 to svg?
          h1(class="txt-xlg") O.L.D
      ul(class="navbar")
        li
          a(href="#") About
        li
          a(href="#") Subjects
        li
          a(href="#") Random Book
      form(class="searchBar")
         div.select
           select(name="searchType" id="searchType")
             option(value="all") All
             option(value="title") Title
             option(value="author") Author
             option(value="text") Text
             option(value="subject") Subject
             option(value="lists") Lists
             option(value="advanced") Advanced
           span.focus
         input(type="text" name="searchTerm" id="searchBarInput" placeholder="Search...")
         button(type="submit" id="searchBarSubmit") &#8594;
    block content
