doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet" href="./css/styles.css")
    title OL Directory
  body
    header(class="")
      a(href="/") 
        h1(class="txt-lg") Open Library Directory
      ul(class="navbar")
        li
          a(href="#") About
        li
          a(href="#") Browse
      form(class="searchBar")
            select(name="searchType" id="searchType")
              option(value="all") All
              option(value="title") Title
              option(value="author") Author
              option(value="text") Text
              option(value="subject") Subject
              option(value="lists") Lists
              option(value="advanced") Advanced
            input(type="text" name="searchTerm" id="searchBar" placeholder="type...")
            button(type="submit" id="searchBarSubmit") Go
