extends layout.pug

block scripts
  link(rel="stylesheet", href="../css/glide.core.min.css")
  link(rel="stylesheet", href="../css/glide.theme.min.css")
  link(rel="stylesheet", href="../css/subject.css")

block content
  .container#indexContainer
      h3.txt-md= title
      hr
      .glide
        .glide__track(data-glide-el="track")
          ul.glide__slides
            each val in bookList
              li.glide__slide
                a(href="#")
                  img(src="http://covers.openlibrary.org/b/id/" + val.cover_id + "-" + "M" + ".jpg" alt= val.title width=130 height=200 onerror="this.src='../defaultImage/default.jpeg';")
                  //- http://covers.openlibrary.org/b/$key/$value-$size.jpg
        .glide__arrows(data-glide-el="controls")
          button.glide__arrow.glide__arrow--left(data-glide-dir="<") prev
          button.glide__arrow.glide__arrow--right(data-glide-dir=">") next
  
  script(src="../dist/slider.js" defer)