.coverSection {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.coverSection img {
  margin-bottom: 20px;
}

#wantRead {
  background-color: green;
  color: white;
  margin-top: 10px;
  border: 1px black solid;
}

.infoSection {
  float: left;
  margin-top: 10px;
  width: 70%;
}

.infoSection h1 {
  font-size: 2.9rem;
}

#bookCover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;
}

#subtitle {
  color: gray;
  font-style: italic;
}

.editionLine {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.editionLine p {
  transform: translateY(30%);
}

.infoBox {
  margin-top: 10px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 50px;
  overflow: hidden;
}

.infoBox h2 {
  font-size: 1.8rem;
}

.infoBox h3 {
  font-size: 1.6rem;
}

.infoBox p {
  font-size: 1.3rem;
}

.infoBoxSection h3 {
  float: left;
  color: inherit;
}

.infoBoxSection dl > * {
  float: left;
}

.infoBoxSection dt {
  width: 20%;
  color: rgb(122, 122, 122);
}

.infoboxSection dd {
  width: 80%;
}

.infoBoxSection h3,
dt {
  clear: both;
}

.infoBoxSection dt,
dl {
  font-size: 1.3rem;
}
