.coverSection {
  float: left;
  margin-top: 10px;
  margin-right: 20px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.infoSection {
  float: left;
  margin-top: 10px;
  width: 70%;
}

.infoSection h1 {
  font-size: 2.9rem;
}

#bookCover {
  border-radius: 5px;
  box-shadow: 0px 0px 10px gray;
}

#subtitle {
  color: gray;
  font-style: italic;
}

.editionLine {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}

.editionLine p {
  transform: translateY(30%);
}
