/* ADD SPECIFIC SLIDER STYLES FOR INDEX PAGE */

/* .glide__arrow--left {
  top: 10em;
}
.glide__arrow--right {
  top: 10em;
} */

/* #indexContainer {
  background-color: white;
  border-radius: 1.5rem;
} */

#indexContainer h3 {
  margin-bottom: 0;
}

.glide__slides {
  background-color: white;
  border: 1px solid #333;
}
