@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,500&display=swap");
@font-face {
  font-family: "Rotis Semi Serif Std Bold";
  src: url("../webfonts/Rotis-SemiSerif-Std-Bold_38720.ttf");
  font-display: swap;
}

:root {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --dur: 0.3s;
  --rad: 0.7rem;
  --btn-width: 8rem;
  --height: 5rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  font-family: "Raleway", sans-serif;
  /* font-family: "Helvetica"; */
  background-color: #e1dcc5;
}

hr {
  background-color: grey;
  border: none;
  height: 1px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  border: solid 1px gray;
  border-radius: 5px;
}

.container h3 {
  margin-top: 9px;
}

.txt-sm {
  font-size: 1.5rem;
}

.txt-md {
  font-size: 1.9rem;
}

.txt-lg {
  font-size: 2.5rem;
}

.txt-xlg {
  font-size: 2.9rem;
}

.txt-xxlg {
  font-size: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.1rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.1rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0rem;
}

@media (min-width: 550px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4.1rem;
  }
  h3 {
    font-size: 3.5rem;
  }
  h4 {
    font-size: 2.9rem;
  }
  h5 {
    font-size: 2.3rem;
  }
  h6 {
    font-size: 2rem;
  }
}

p {
  margin-top: 0;
}

.button,
.buttonSuccess,
.buttonWarning,
.buttonInfo,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  height: 38px;
  padding: 0 30px;
  text-align: center;
  line-height: 38px;
  border-radius: 5px;
  border: 1px solid;
  text-transform: uppercase;
  cursor: pointer;
}

.donate {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: #333;
  padding-top: 5px;
  margin-bottom: 7px;
  font-weight: 600;
}

.donate p {
  position: relative;
  transform: translate(0, 40%);
  font-family: "Rotis Semi Serif Std Bold";
}

.donate a {
  color: white;
  margin-left: 10px;
  background-color: #333;
  text-transform: none;
  padding: 0 5px;
  line-height: 30px;
  height: 30px;
}

.donate a:hover {
  color: rgb(159, 159, 255);
}

.donate a span {
  margin-left: 3px;
}

.donate a:hover span {
  color: red;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 1500px;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  flex-flow: row wrap;
  font-weight: 500;
}

header > div {
  margin: 0 0 5px;
  width: 20%;
}

header > div > a {
  display: inline-block;
  /* width: 57%; */
}

#openBlue {
  color: white;
  background-color: #528abe;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 2px;
  margin-right: 3px;
}

header h1 {
  position: relative;
  transform: translate(0, 28%);
}

header h1 a {
  color: #333;
}

header a {
  color: white;
}

header button {
  /* color: white; */
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: #333;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  line-height: 18px;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  /* transform: translateY(-50%); */
}

header button:hover {
  border-color: white;
}

.navbar {
  min-width: 250px;
}

ul {
  list-style: none;
}

li {
  margin-right: 5px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: inherit;
  line-height: inherit;
}

.select {
  width: 50%;
  min-width: 5ch;
  max-width: 10ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  margin-right: 4px;
}

.select,
.select:after {
  grid-area: select;
  justify-self: end;
}

.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

#searchType {
  margin-right: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

a {
  text-decoration: none;
}

.searchBar {
  width: 30%;
  display: flex;
}

#searchBarInput {
  transition: all var(--dur) var(--bez);
  border-radius: var(--rad);
  width: 50%;
  transition-property: width;
  z-index: 1;
}

#searchBarSubmit {
  font-size: 1.5rem;
  letter-spacing: normal;
  font-weight: 600;
  /* margin-left: 7px; */
  border: none;
  background-color: #333;
  color: white;
  padding: 0px 5px;
  transform: translate(0, 1%);
  display: none;
  position: relative;
  right: 15%;
  top: 2px;
  width: var(--btn-width);
  height: 2.5rem;
  line-height: 10px;
  border-radius: 5px;
  transition: all 1s ease;
  text-transform: none;
}

#searchBarInput:not(:placeholder-shown) {
  width: calc(80% - var(--btn-width));
}

#searchBarInput:not(:placeholder-shown) + #searchBarSubmit {
  right: -1%;
  display: block;
}
